<div style="text-align: center; padding: 10px;">
  <h1>Observables</h1>
  @if(exclusive)
  {
  <span style="background-color: rgb(63, 63, 173); border-radius: 10px; padding: 5px; color: white; ">Exclusive</span>
  }
</div>
<ul class="navbar">
  <li routerLink="anatomy" routerLinkActive="active">Anatomy </li>
  <li routerLink="subjects" routerLinkActive="active">Subjects</li>
  <li routerLink="operators" routerLinkActive="active">Operators </li>
  <li routerLink="obs1" routerLinkActive="active">Observable 1 </li>
  <li routerLink="obs2" routerLinkActive="active">Observable 2 </li>
  <li routerLink="probs" routerLinkActive="active">Promise Vs Observable</li>
  <li routerLink="ytprac" routerLinkActive="active">Practice-Video </li>
  <li routerLink="todo" routerLinkActive="active">Todoapp</li>
</ul>
<router-outlet></router-outlet>