<h2>Promise</h2>
<ol>
    <li>Promise is native to javascript</li>
    <li>Promise is eager it returns the data as soon as promise is created</li>
    <li>Promise can emit only single values</li>
    <li>Promise has method for succes and error</li>
    <li>Promise always returns asynchrounous data</li>
</ol>



<h2>Observable</h2>
<ol>    
    <li>Observable is not native to js and imported from rxjs library</li>
    <li>observable is lazy its only emits data when we subsribe to observable </li>
    <li>Observable can emit stream of values or multiple values</li>
    <li>Observable has methods for success, error and completion</li>
    <li>Observable returns both synchronous and async data</li>
</ol>